* body{
margin:0;
padding:0;
height:100%;
}

body{
color:#484848;
font-size:14px;
font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
display:flex;
flex-direction:column;
}

span{
vertical-align: center ;
}

.container{
width:100%;
max-width: 1000px;
flex:1 0 auto;
}
